<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Food<i class="fa-solid fa-bowl-food"></i>Dizze</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/menu">Menu</a>
          <a class="nav-link" href="/menu/about">About</a>
          <!-- <a class="nav-link disabled" aria-disabled="true">Disabled</a> -->
        </div>
        
        <div class="navbar-nav ms-auto">
          
           <% if(!currUser){ %>
            <button style="width: 6rem;" class="btn btn-primary">  <a style="color: white; text-decoration: none; text-align: center;" href="/menu/signup">Sign Up</a>
            </button>
            <button style="margin-left: 1rem;" class="btn btn-success">   <a  style="color: white; text-decoration: none;" href="/menu/login">Login</a>
            </button>
           <% } %>
           <% if(currUser){ %>
            <button class="btn btn-primary">              <a  style="color: white; text-decoration: none;" href="/menu/checkout">Checkout</a>
            </button>
            <button  style="margin-left: 1rem;" class="btn btn-danger">              <a  style="color: white; text-decoration: none;" href="/menu/logout">Logout</a>
            </button>
              <% } %>
        </div>
      </div>
    </div>
  </nav>
