
<% layout("/layout/boilerplate.ejs") %>



<h1 style="color: white; display: flex; justify-content: center; align-items: center; font-weight: 300; margin: 15px;">Grab Your favourite Food</h1>

<div class=" row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% for(let food of fooditems) {%>

    

        <div class="card food-card" style="width: 18rem; height: 20rem;">
            <img style="height: 15rem; width: 12rem;" src="<%= food.image %>" class="card-img-top " alt="...">
           

            <div class="card-body">
              <h5 class="card-title"><%= food.name %></h5>
              <a style="text-decoration: none; color: black; font-size:50px;" class="card-text">&#8377;<%= food.price %>/- </a>
              <% let name=food.name  %>
             <form  style="display: inline;" method="post" action="menu/checkout/<%= food.id %>">
                        <button   style="margin-bottom:1.6rem; margin-left: 1rem;"  id="addtocart"  class="btn btn-primary">Add</button>
                    </form>
              
            </div>
          </div>

  

    <% } %>
</div>

<script>
   


</script>
